# SPDX-FileCopyrightText: 2026 NONE
#
# SPDX-License-Identifier: CC0-1.0

.idea/
__pycache__/
/dist/
.coverage
coverage.xml
coverage-badge.svg
htmlcov/
docs/build/
GraphEnricher_cache.sqlite
/data/
/enriched.rdf
/matched.rdf
/provenance.rdf
/test_merge_br.rdf
